<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Twater.Properties.Settings.Suzhou_SHConnectionString"
            connectionString="Data Source=HQAH-WZ;Initial Catalog=Suzhou_SH;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>